body,
p,
form,
h1,
h2,
h3,
h4,
h5,
h6,
td,
th,
table,
div,
ul,
li,
ol,
dl,
dt,
dd,
input,
select {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
	background: #f8f8f8
}

a:link,
a:visited {
	text-decoration: none;
	color: #585858;
}

a:hover {
	text-decoration: none;
	color: #0766A6;
}

.border01 {
	border: #E3E3E3 1px solid;
}

img {
	border: 0;
}

ul,
ul li {
	list-style-type: none;

}

.clear {
	clear: both;
	height: 0px;
	line-height: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	font-size: 0px;
}

.blank10 {
	height: 10px;
	overflow: hidden;
	line-height: 0;
	font-size: 0;
	clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 14px;
	font-weight: bold;
}

.font14 {
	font-size: 14px;
}

/*网站头部*/
.top {
	width: 1002px;
	margin: auto;
	border-bottom: 2px solid #006699;
	background: #EAEAEA;
	display: flex;
    justify-content: space-between;
}


.logo {
	float: left;
	width: 350px;
	height: 60px;
	overflow: hidden;
	display: inline;
}

.righttel {
	float: right;
	width: 200px;
	height: 30px;
	overflow: hidden;
	margin-right: 40px;
	margin-top: 10px;
	display: inline;
}

.webnav {
	float: right;
	text-align: right;
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	order: 3;
}

.webnav ul {
	padding-right: 20px;
}

.webnav li {
	float: left;
	height: 60px;
	line-height: 60px;
	font-family: '微软雅黑', Arial;
	font-weight: bold;
	margin-right: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px
}

.webnav li a {
	display: block
}

.webnav li a:link,
.webnav li a:visited {
	color: #0766A6;
}

.webnav li:hover {
	background: #0E7CB0;
	color: #FFFFFF
}

.webnav li a:hover {
	color: #FFFFFF
}

.banner {
	width: 1002px;
	margin: 0 auto;
	margin-top: 10px;
}

.banner img {
	width: 1000px;
	height: 400px;
}

/*首页主体内容*/
.index_con {
	width: 1002px;
	margin: 0 auto;
	margin-top: 15px;
}

.jsbox {
	width: 660px;
	background: #FFFFFF;
	border: 1px solid #CCCCCC
}

h3.s1 {
	height: 30px;
	padding-left: 20px;
	background: #526B37;
	line-height: 30px;
	font-size: 14px;
	font-weight: 900;
}

.js_con {
	padding: 20px 10px;
	text-indent: 2em;
	background: #EBE7D7;
	font-family: "SimSun";
	/* 设置字体为宋体 */
	font-size: 16px;
	/* 设置字体大小为16px */
	line-height: 25px;
	/* 设置行高为25px */
	letter-spacing: 2px;
	/* 设置字间距为2px */
}

.index_con .left {
	float: left;
	width: 660px;
}

.index_con .right {
	float: right;
	width: 330px;
}

span.s1 {
	display: block;
	width: 120px;
	height: 30px;
	text-align: center;
	padding: 0px 6px;
	background: #E7E2CE;
	color: #323126
}

.lb_box {
	width: 330px;
}

.lb_con {
	width: 300px;
	margin: 0 auto;
	padding: 0px 15px;
	background: #EBE7D7
}

.lb_con img {
	width: 300px;
	height: 258px;
	padding-top: 10px;
	padding-bottom: 10px;
}

h3.s2 {
	height: 25px;
	padding-left: 20px;
	padding-top: 5px;
	background: #D5C794;
	font-size: 14px;
	font-weight: 900;
	border-bottom: 2px solid #526B37
}

span.s2 {
	display: block;
	width: 120px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	padding: 0px 6px;
	background: #526B37;
	color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.pic_box {
	width: 660px;
	background: #EBE7D7;
	border: 1px solid #CCCCCC;
	margin-top: 20px;
	float: left;
}

.pic_con img {
	float: left;
	margin-left: 25px;
	margin-top: 5px;
	margin-bottom: 10px;
}

.pic_con {
	padding: 10px 10px;
	background: #EBE7D7;
}

#yj img {
	max-width: 638px;
	display: block;
	margin: 0 auto
}

.s3 {
	background-color: white;
	padding-left: 25px;

	.lay {
		width: 1000px;
		background-color: #fafafa;
	}

}

.box {
	width: 260px;
	height: 40px;
	line-height: 40px;

	color: black;
	overflow: hidden;
}

.content {
	white-space: nowrap;
	width: max-content;
	display: inline-block;
	animation: 10s wordsLoop linear infinite normal;

}

@keyframes wordsLoop {
	0% {
		transform: translateX(200px);
		-webkit-transform: translateX(200px);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
}

@-webkit-keyframes wordsLoop {
	0% {
		transform: translateX(200px);
		-webkit-transform: translateX(200px);
	}

	100% {
		transform: translateX(-100%);
		-webkit-transform: translateX(-100%);
	}
}


.signdiv {
	
    position: relative;
    display: flex;
  justify-content: center;
  text-align: center;
}
.login-container {
	position: fixed;
	z-index: 999;
    background-color: #ffffff;
    width: 500px;
    margin: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px; /* 圆角边框 */
  }
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .login-button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .login-button:hover {
    background-color: #d62c1a;
  }
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  .search-container {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px; 
  }
  .search-input {
    padding: 5px; 
    font-size: 14px; 
    border: 2px solid #ccc;
    border-radius: 4px;
    flex-grow: 1;
    height: 25px; 
  }
  .search-button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 14px;
    background-color: #2c3e50;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    height: 35px; 
	width: 50px;
  }
  .search-button:hover {
    background-color: #1a252f; 
  }